# Required packages for the oz Optics control software: 
# Implemented by setup.bat
# note: bat file will install necessary python and below 

PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyqtgraph==0.13.7

#grabs compatible version if no version specified
git-lfs
pylablib 